NODE_ENV=development
NODE_PORT=3002

APPLICATION_NAME=bnr-mailing

# Kafka
KAFKA_BROKER_URL=localhost:9092
KAFKA_GROUP_ID=mailing

# Kafka topic to consume from
SEND_EMAIL_REQUEST_TOPIC=send-email

# Redis (Bull queue)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Bull queue
QUEUE_NAME=mailing
QUEUE_RETRIES=3

# SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=BNR Licensing Portal <noreply@bnr.rw>
